* {
}

html {
  background-color: #004d4d;
}

header {
  height: 10%;
  background-color: white;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 64px;
  text-align: center;
  color: white;
  margin: 30px;
  text-shadow: 4px 4px 4px #008080;
}

body > h2 {
  font-size: 26px;
  text-align: center;
  color: white;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  filter: drop-shadow(3px 3px 3px #000000);
}

.item {
  text-align: center;
  margin: 0px auto;
  min-width: 250px;
  max-height: 210px;
  font-size: 32px;
}

#computerChoice {
    
}

#computerChoice > img{
    width: 35px;
    height: 35px;
    padding: 0px 0px 0px 15px;
    transition: none;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  margin: 0px auto;
  justify-content: center;
  color: white;
  margin: 50px 0px;
  grid-gap: 20px;
  font-family: "Lobster", cursive;
}

.container > h3 {
  filter: drop-shadow(2px 2px 2px #00cdcd);
}

.image {
  top: 0px;
  transition: top 0.5s ease-out;
}

.image:hover {
  position: relative;
  top: -15px;
  filter: drop-shadow(8px 8px 8px #00cdcd);
}




#computerChoiceDisplay > h3{
    font-size: 24px;
}

#computerChoiceDisplay,
#outcome {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  color: white;
  font-family: "Lobster", cursive;
  text-align: center;
  padding: 10px;
}

#computerChoiceDisplay > h3, p, #outcome{
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(5px 5px 5px #000000);
}

h3 {
  margin-top: 50px;
  font-size: 20px;
  margin: 10px;
  
}

p {
  margin: 10px;
}

#computerChoice {
  color: rgb(199, 199, 0);
  font-size: 35px;
}

#reset {
  display: flex;
  justify-content: center;
  color: #fff !important;
}

#btn-reset {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #9e211f;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: 'Roboto', sans-serif;
}

#btn-reset:hover {
  background: white;
  color: red !important;
  letter-spacing: 1.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#outcome{
    color: rgb(255, 255, 66);
    font-size: 24px;
    padding: 20px;
    filter: drop-shadow(4px 4px 4px #000000);
}

#gameOver{
    display: flex;
    justify-content: center;
    color: #9e211f; 
    font-weight: 900;
    font-family: 'Creepster', cursive;
    margin: 0 auto;
    font-size: 44px;
    padding: 12px 0px 20px 0px;
}